<ion-header>
  <ion-navbar>
    <ion-title>
      OS Movil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label for="environment" stacked>ENTORNO (ionic serve --external para pruebas locales)</ion-label>
    <ion-select id="environment" type="text" [(ngModel)]="environment">
      <ion-option value="prod">Producci&oacute;n</ion-option>
      <ion-option value="test">Testing</ion-option>
      <ion-option value="dev">Desarrollo</ion-option>
      <ion-option value="local">Local</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="environment === 'local'">
    <ion-label for="localHost" stacked>IP Local (ajustala de ser necesario):</ion-label>
    <ion-input id="localHost" type="text" [(ngModel)]="localURL"></ion-input>
  </ion-item>
  <ion-item *ngIf="environment === 'local'">
    <ion-label for="params" stacked>CODE:</ion-label>
    <ion-input id="params" type="text" [(ngModel)]="params"></ion-input>
  </ion-item>
  <br>
  <button ion-button (click)="openBrowser()">Probar Asistencia M&eacute;dica</button>
  <div>
    <br>
    <h6>
      Si aún no instalaste Google Meet, hacelo desde <a href="market://details?id=com.google.android.apps.meetings" target="_blank">aquí</a>
    </h6>
  </div>
</ion-content>
